[submodule "unit1-htmlCss/unit-1-lab-floating-images-Zenith2198"]
	path = unit1-htmlCss/unit-1-lab-floating-images-Zenith2198
	url = https://github.com/uprighted-learners/unit-1-lab-floating-images-Zenith2198.git
[submodule "unit1-htmlCss/unit-1-lab-hello-html-Zenith2198"]
	path = unit1-htmlCss/unit-1-lab-hello-html-Zenith2198
	url = https://github.com/uprighted-learners/unit-1-lab-hello-html-Zenith2198.git
[submodule "unit1-htmlCss/unit-1-lab-image-gallery-Zenith2198"]
	path = unit1-htmlCss/unit-1-lab-image-gallery-Zenith2198
	url = https://github.com/uprighted-learners/unit-1-lab-image-gallery-Zenith2198.git
[submodule "unit2-js/unit-2-lab-combining-data-types-Zenith2198"]
	path = unit2-js/unit-2-lab-combining-data-types-Zenith2198
	url = https://github.com/uprighted-learners/unit-2-lab-combining-data-types-Zenith2198.git
[submodule "unit1-htmlCss/PTSB-jul-responsive-example"]
	path = unit1-htmlCss/PTSB-jul-responsive-example
	url = https://github.com/dhernandez39555/PTSB-jul-responsive-example.git
[submodule "unit2-js/unit-2-lab-hello-frenemy-Zenith2198"]
	path = unit2-js/unit-2-lab-hello-frenemy-Zenith2198
	url = https://github.com/uprighted-learners/unit-2-lab-hello-frenemy-Zenith2198.git
[submodule "unit2-js/unit-2-fizzbuzz-Zenith2109"]
	path = unit2-js/unit-2-fizzbuzz-Zenith2109
	url = https://github.com/uprighted-learners/unit-2-lab-fizzbuzz-Zenith2198.git
[submodule "unit2-js/unit-2-lab-potato-poem-Zenith2198"]
	path = unit2-js/unit-2-lab-potato-poem-Zenith2198
	url = https://github.com/uprighted-learners/unit-2-lab-potato-poem-Zenith2198.git
