[submodule "unit1-htmlCss/unit-1-lab-floating-images-Zenith2198"]
	path = unit1-htmlCss/unit-1-lab-floating-images-Zenith2198
	url = https://github.com/uprighted-learners/unit-1-lab-floating-images-Zenith2198.git
[submodule "unit1-htmlCss/unit-1-lab-hello-html-Zenith2198"]
	path = unit1-htmlCss/unit-1-lab-hello-html-Zenith2198
	url = https://github.com/uprighted-learners/unit-1-lab-hello-html-Zenith2198.git
