body {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 197, 231);
    height: 80vh;
}

/* With flex box you
need a container to keep the children in */

/* Welcome to Jeopardy Title Page */
.welcome-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.welcome-text {
     font-size: 30;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
     padding: 2px;
     margin-top: 10px;
     
}

/* Landing Page Picture */
.pic-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.picJeo {
    
    border-color: black;
    border: solid black 3px;
    width: 40vw;
    height: 40vh;
}

/* PLAY button */
.button-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content:flex-end;
}

.button-child {
    background-color: hotpink;
    border: solid black 3px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    width: 25vh;
    height: 7vh;
}

/* button pseudo code */
.button-child:hover {
    background-color: yellowgreen;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    margin-bottom: 5px;
}

.footer-child {
    background-color: rgb(148, 165, 182);
    border: solid black 2px;
    width: 45vh;
    text-align: center;
    font-size: larger;
}


