/* jeopardy-round.html and double-jeopardy-round.html use this file */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 197, 231);
    height: 80vh;
}

/* This is the Jeopardy Round(s)  title on the Page*/
.jeopardy-round {
    display: flex;
    justify-content: center;
}

.jeopardy-round-text {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* This is the Subtitle: PLAYER TURN */
.player-turn {
    display: flex;
    justify-content: center;

}

.player-turn-child {
    font-size: x-large;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* I flexboxed the Grid! This are all the containers and children for all the amounts and the category*/
.gridd {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* .category:hover{
    transform: rotateY(180deg);
} */

.category {
    background-color: lightgoldenrodyellow;
    font-size: x-large;
    font-weight: bold;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* transform-style: preserve-3d; */

}

/* .theCategoryFront {
    background-color: lightgoldenrodyellow;
    font-size:x-large;
    font-weight: bold;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backface-visibility: hidden;
}

.theCategoryBack {
    background-color: lightblue;
    font-size:x-large;
    font-weight: bold;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backface-visibility: hidden;
    transform: rotateY(180deg);
} */


.celly-100 {
    display: flex;
    justify-content: center;
}

.cell-100 {
    background-color: whitesmoke;
    font-size: x-large;
    font-size: x-large;

    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.celly-200 {
    display: flex;
    justify-content: center;
}

.cell-200 {
    background-color: whitesmoke;
    font-size: x-large;
    font-size: x-large;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.celly-300 {
    display: flex;
    justify-content: center;
}

.cell-300 {
    background-color: whitesmoke;
    font-size: x-large;
    font-size: x-large;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.celly-400 {
    display: flex;
    justify-content: center;
}

.cell-400 {
    background-color: whitesmoke;
    font-size: x-large;
    font-size: x-large;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.celly-500 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.cell-500 {
    background-color: whitesmoke;
    font-size: x-large;
    font-size: x-large;
    border: solid 2px black;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* This is the User Input form */
.InputData {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2%;
}

.UserInput {
    padding: 5px 0;
}

.UserInput::placeholder {
    text-align: center;
    font-size: 15px;
}

/* These are both the GUESS & PASS buttons */
.guessPassContainer {
    display: flex;
    justify-content: center;
    /* margin-bottom: 2%; */
}

.guessPassBtn {
    background-color: hotpink;
    border: 3px, solid, black;
    margin: 0% 2%;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

.guessPassBtn2 {
    background-color: hotpink;
    border: 3px, solid, black;
    margin: 0% 2%;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

/* button pseudo code */
.guessPassBtn:hover {
    background-color: yellowgreen;
}

.guessPassBtn2:hover {
    background-color: yellowgreen;
}

/* Player Score1 & Score2 */
.player {
    display: flex;
    justify-content: space-around;
}

.playerScores {
    font-size: x-large;

}

/* To Double & Final Jeopardy Button */
.double-container {
    display: flex;
    justify-content: right;
    margin-right: 75px;
    margin-top: 30px;
}

.double-child {
    text-align: center;
    background-color: lightpink;
    padding: 10%;
    font-size: medium;
    font-weight: bold;
}

/* hover for link */
.double-child:hover {
    background-color: lightgreen;
}

/* footer */
.footer-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    margin-bottom: 5px;
}

.footer-child {
    background-color: rgb(148, 165, 182);
    border: solid black 2px;
    width: 45vh;
    text-align: center;
    font-size: larger;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin: 25px;
}

.board>div {
    background-color: rgb(175, 131, 216);
    padding: 15px;
}