body {
	background-color: beige;
	margin: 0;
	height: 90vh;
}

div {
	background-color: aqua;
	border: solid black 1px;
	padding: 5px;
}

.gridContainer {
	margin: 8px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto 1fr;
	gap: 5px;
	height: 100%;
}